body{
    background-color: #90A4AE;
}

.container{
    width: 1440px;
    height: auto;
    margin: 40px auto;
    padding: 0;
    box-sizing: border-box;
    

}
.card_holder{
    width: 100%;
    display: flex;
    justify-content: space-between;

    
}
.card{
    margin: 0;
    padding: 30px 40px;
    
    height: auto;
    width: 387px;
    box-sizing: border-box;
    box-shadow: 5px 5px 25px #455A64;
    background-color: white;
    text-align: center;
}
.card_title{
    font-size: 24px;
    margin-bottom: 10px;
}
.card_text{
    font-size: 14px;
    color: dimgrey;
    margin-bottom: auto;
}